 /* padrão de computador*/
@media (max-width: 4000px)  {
    body{
        background-color: blue;
    }
}

 /*padrão de celular*/
@media (max-width: 450px) {
    body{
        background-color: red ;
    }
}